{% extends 'base.html.twig' %}

{% block stylesheets %}

    <link rel="stylesheets" href="/styles/app.css">

{% endblock %}

{% block body %}

<h1> {{titulo}} </h1>
<div class="jumbotron-img jumbotron jumbotron-fluid">
    <div class="container">
        <h2 class="display-4">Nuestros productos</h2>
    </div>

{# Imprimo array #}

   {% for producto in productos %}
    <div class="producto">
        <div class="imagen">
            <img src="{{producto.foto}}" width="200" height="150">
        </div>
        <div class="producto-descripcion">
            <h3>{{producto.descripcion}} - {{ producto.precio }}</h3>
        </div>
      </div>
   {% endfor %}

 <a href="{{ ('boulangerie') }}" class="button">Productos boulangerie</a> 
{% endblock %}

